/* Gnav bar */
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links a:hover {
  color: #cfd8dc;
}

.site-header {
  background-color: #455a64;
  color: #fff;
}

.site-header .container {
  display: flex;
  justify-content: flex-end;
}

.site-header form {
  margin: 0;
}

.site-header form .form-control {
  display: inline-block;
  margin-right: 10





/* forms */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #signup-form {
    margin-left: auto;
}

#login-form {
    position: absolute;
    top: 10px;
    right: 10px;
}
